<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lets CHAT!</title>
</head>
<body>
    <h1> Lets CHAT!</h1>

    <form id="form">
        <input type="text" name="message" >
    </form>

    <div id="messages"></div>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data', data)

            if (data.type === 'chat'){
                let messages = document.getElementById('messages')
                let container = document.createElement('div')
                let paragraph = document.createElement('p')
                paragraph.textContent = data.message
                container.appendChild(paragraph)
                messages.appendChild(container)
            }
        }

        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            form.reset()
        })

    </script>
</body>
</html>
